body {
	background-color: orange;
	text-align: center;
}
.dog {
	font-family: fantasy;
}
.secret {
	opactiy: 0.5;
}
li {
	list-style-type: none;
}
table, th, td {
	border: 1px solid black;
	margin-left:auto; margin-right: auto;
}